.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034)
;

  
  
  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #EEF2F7;
}
